/*
 * Jeu de test minimal, destiné à : nextflow run main.nf -profile test -stub-run
 * (à lancer depuis la racine du dépôt). Les fichiers sont factices : seul le graphe du
 * pipeline (canaux, nommage, publication) est testé, pas les outils.
 */
params {
    samplesheet    = 'tests/data/samplesheet.tsv'
    outdir         = 'results_test'
    genome_name    = 'test_genome'
    fasta          = 'tests/data/ref/genome.fa'
    gff3           = 'tests/data/ref/annotation.gff3'
    mane           = 'tests/data/ref/mane.txt'
    gtf            = 'tests/data/ref/annotation.gtf'
    splicelauncher = 'tests/data/SpliceLauncher.sh'
}

process {
    resourceLimits = [cpus: 2, memory: 4.GB, time: 1.h]
}
